.block{
  display: block;
}
.none{
  display: none;
}
button{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 60%;
  background: blue;
  color: white;
  font-size: 20px;
  margin: 5px;
}




