
<div>
   <strong>{{ addToQuestion() }}{{ task }}</strong>
  <p [ngClass]="btn">{{ promptTask }}</p>
  <br>
  <button (click)="openPrompt($event)">▼</button>
  <button (click)="closePrompt($event)">▲</button>
  <h3 [ngClass]="winLose">{{ winLose }}</h3>
  <p>правильные ответы: {{ addResult() }}</p>
</div>

